.pigeon-display{
  background: #d5d8dc;
  color: black;
  height: 150px;
  max-height: 150px;
  overflow: hidden;
  margin: 15px 30px 15px 30px;
  line-height: 1.5;
  padding-top: 20px;
  box-sizing: border-box;
}

#pigeon-text{
  display: inline-block;
  margin-left: 200px;
}

